<!DOCTYPE html>
<html ng-app="FormDemoApp">
<head>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="controller.js"></script>
<script type="text/javascript" src="fruit/fruit.service.js"></script>
<script type="text/javascript" src="fruit/fruit.directive.js"></script>
<link rel="stylesheet" href="styles.css"/>
</head>
<body>
  <div ng-controller="myController as ctrl">
    <form name="myForm" ng-submit="submit()">
      <div class="cla400">
        <label for="username">UserName:</label>
        <input type="text" name="username" ng-model="ctrl.username" required/>
        <span style="color: red;" ng-show="ctrl.myForm.username.$error.required">*Required</span>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="text" name="password" ng-model="ctrl.password" required/>
        <span style="color: red;" ng-show="ctrl.myForm.password.$error.required">*Required</span>
      <div>
      <div>
        <ol>
          <li ng-repeat="f in ctrl.fruits | orderBy">{{f}}&emsp;
            <button type="button" ng-click="ctrl.removeFruit($index)">Delete Fruit</button>
          </li>
        </ol>
      </div>
      <div>
        <input type="text" ng-model="ctrl.fruit"/>
        <button type="button" ng-click="ctrl.addFruit(ctrl.fruit)" ng-ke>Add Fruit</button>
        <span ng-if="ctrl.errorBlk" style="color: red;">{{error}}</span>
      </div>
    </form>
      {{ctrl.someFruits}}
      <div ng-show="ctrl.onlineFruits.length > 0">
        {{ctrl.onlineFruits}}
      </div>
      <fruit-directive fruits="ctrl.fruits" working="ctrl.working"></fruit-directive>
  </div>
</body>
</html>
